/* Web Fonts */
@font-face{
	font-family: 'Abolition Regular';
	src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}


*{ box-sizing:border-box; }

body {
	color: #878787;
	margin: 0;
	font:1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2 {
	font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
	letter-spacing: .07em;
}

h1 {
	font-size: 5.625em; /* 90/16px */
	color:#fff;
	text-transform: uppercase;
	font-weight: normal;
	line-height:1.3;
	text-shadow: 0 5px 10px rgba(0,0,0,.5);
	margin-top: 48px;
}

h2 {
	font-size: 3.3125em; /* 53/16px */
	font-weight: normal;
	line-height:1.1;
	margin-bottom: .5em; /* 26px */
}

h3 {
	font-size: 1.25em; /* 20/16px */
	color: #48525c;
	line-height:1.2;
	margin-bottom: 1.7em; /* 34px */
}

img{
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px -8px #222;
}

ul, ol{
	list-style-position:inside;
	padding-left:0;
	margin:30px 0;
}

li{
	margin-bottom:10px;
}

/* ID Selectors */
#arrow{
	width:50px;
	margin-top: 150px;
}

#main_footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #ffa949;
	text-align:center;
}

/* Class Selectors */
.main_content,
.secondary_content{
	width:75%;
	max-width:960px;
	padding: 0 50px;
	margin: auto;
}

.main_content,
.main_header,
.main_footer
{
	text-align: center;
}

.main_content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary_content {
	padding-top: 80px;
	padding-bottom: 70px;
}

.callout{
	font-size:1.25em;
	border-bottom:solid 3px;
	padding:0 9px 3px;
	margin-top:20px;
	display:inline-block;
}

.wildlife{
	color:#fff;
	background:#434a52 url('../img/bear.jpg') no-repeat center/cover;
	padding: 18% 20%;
	border-top: solid 10px #ffa949;
	margin: 105px 0 60px 0;
	text-align:left;
	box-shadow: 0 10px 20px -8px #222;
}

.main_header {
	background: linear-gradient(#ffa949, transparent 70%),
							linear-gradient(0deg, #fff, transparent 70%),
							#ffa949 url('../img/mountains.jpg') no-repeat center/cover;
	height:850px;
	padding-top:170px;
}

.title{
	color:#fff;
	font-size: 1.625em; /* 26/16px */
	letter-spacing: .065em;
	font-weight: 200;
	border-bottom:2px solid ;
	padding-bottom: 10px;
}

.intro{
	font-size:1.25em; /* 20/16px */
	line-height:1.6;
}

.t_border {
	border-top: 2px solid lightgrey;
}

/* Pseudo-Class Selectors */
a:link {
	color:#ffa949;
	text-decoration:none;
}

a:hover{
	color: rgba(255, 169, 73, 0.5);
}

a:visited{
	color:#ffa949;
}

a:active{
	color:lightcoral;
}

/* Floated Columns */
.resorts,
.tips{
	width:46.5%;
}

.resorts{ float:left; }
.tips{ float:right; }

/* Clearfix */
.group:after{
	content:"";
	display:table;
	clear:both;
}
